{% extends "layout.html" %}
{% block body_content %}
    <h1>Display Activity</h1>
    <br>
    <br>
    <table>
        <thead><tr><th>Name</th><th>Activity Description</th><th>Objective Rating</th><th>Joy Rating</th></tr></thead>
        <tbody>
        <tr><td>Name1</td><td>Description1</td><td>Orating1</td><td>Jrating1</td></tr>
        <tr><td>Name2</td><td>Description2</td><td>Orating2</td><td>Jrating2</td></tr>
        <tr><td>Name3</td><td>Description3</td><td>Orating3</td><td>Jrating3</td></tr>
        </tbody>
        </table>
{% endblock body_content %}

