{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <br>
        <br>
        {{ user }}
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>{{ form.activityDesc.label }}</th>
                    <th>{{ form.activityDesc }}</th>
                        {% if form.activityDesc.errors %}
                            <div class="error">
                                {% for error in form.activityDesc.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                </tr>
                <br>
                <br>
                <br>
                <tr>
                    <th>{{ form.objRating.label }}</th>
                    <th>{{ form.objRating }}</th>
                        {% if form.objRating.errors %}
                            <div class="error">
                                {% for error in form.objRating.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                </tr>
                <br>
                <br>
                <br>
                <tr>
                    <th>{{ form.joyRating.label }}</th>
                    <th>{{ form.joyRating }}</th>
                        {% if form.joyRating.errors %}
                            <div class="error">
                                {% for error in form.joyRating.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                </tr>
            </thead>
        </table>
        <br>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th><div class='form_group'>{{ form.submit }}</div></th>
                    <th><div class='form_group'><a href={{ url_for('home') }}> Cancel</a></div></th>
                </tr>
        </table>
    </form>
</div>
{% endblock body_content %}

