{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <br>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>{{ form.activityUser.label }}</th>
                        <th>{{ form.activityUser }}</th>
                        <!-- if the form has any errors -->
                        {% if form.activityUser.errors %}
                            <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
                            <div class="error">
                                <!-- for each error in the errors for the title input field -->
                                {% for error in form.activityUser.errors %}
                                    <!-- display the error -->
                                    <span>{{ error }}</span>
                                    <!-- end the for-loop -->
                                {% endfor %}
                            </div>
                        <!-- end the if statement -->
                        {% endif %}
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <th>{{ form.activityDesc.label }}</th>
                        <th>{{ form.activityDesc }}</th>
                        <!-- if the form has any errors -->
                        {% if form.activityDesc.errors %}
                            <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
                            <div class="error">
                                <!-- for each error in the errors for the title input field -->
                                {% for error in form.activityDesc.errors %}
                                    <!-- display the error -->
                                    <span>{{ error }}</span>
                                <!-- end the for-loop -->
                                {% endfor %}
                            </div>
                        <!-- end the if statement -->
                        {% endif %}
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <th>{{ form.objRating.label }}</th>
                        <th>{{ form.objRating }}</th>
                        <!-- if the form has any errors -->
                        {% if form.objRating.errors %}
                            <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
                            <div class="error">
                                <!-- for each error in the errors for the title input field -->
                                {% for error in form.objRating.errors %}
                                    <!-- display the error -->
                                    <span>{{ error }}</span>
                                <!-- end the for-loop -->
                                {% endfor %}
                            </div>
                        <!-- end the if statement -->
                        {% endif %}
                    </tr>
                    <br>
                    <br>
                    <tr>
                        <th>{{ form.joyRating.label }}</th>
                        <th>{{ form.joyRating }}</th>
                        <!-- if the form has any errors -->
                        {%{% if form.joyRating.errors %}
                            <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
                            <div class="error">
                                <!-- for each error in the errors for the title input field -->
                                {%{% for error in form.joyRating.errors %}
                                    <!-- display the error -->
                                    <span>{{ error }}</span>
                                <!-- end the for-loop -->
                                {% endfor %}
                            </div>
                        <!-- end the if statement -->
                        {% endif %}
                    </tr>
                </thead>
            </table>
            <br>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th><div class='form_group'>{{ form.submit }}</div></th>
                        <th><div class='form_group'><a href={{ url_for('home') }}> Cancel</a></div></th>
                    </tr>
            </table>
        </form>
    </div>
{% endblock %}


