{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
    <form method='GET' action=''>
        {{ form.hidden_tag() }}
        <br>
        <table>
            <thead><tr><th>Name</th><th>Name</th> <th>Date</th><th>Activity Description</th><th>Objective Rating</th><th>Joy Rating</th></tr></thead> -->
            <tbody>
                {% for activity in data %}
                    <tr><td>{{ activity.first_name }}</div><td></td><td>{{ activity.last_name }}</td><td> </td><td>{{ activity.activitydate }}</td><td>{{ activity.activityDesc }}</td><td>{{ activity.ObjRating }}</td><td>{{ activity.JoyRating }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {{ form.submit }}
    </form>
{% endblock body_content %}

