{% extends "layout.html" %}
{% block body_content %}
    <h1>Modify Activity</h1>
    <br>
    {{ form.activityUser.label }}
    {{ form.activityUser }}

    <!-- if the form has any errors -->
    {% if form.activityUser.errors %}
        <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
        <div class="error">
            <!-- for each error in the errors for the title input field -->
            {% for error in form.activityUser.errors %}
                <!-- display the error -->
                <span>{{ error }}</span>
            <!-- end the for-loop -->
            {% endfor %}
        </div>
    <!-- end the if statement -->
    {% endif %}
    <br>

    <br>
    <table>
        <thead><tr><th>Name</th><th>Date</th><th>Activity Description</th><th>Objective Rating</th><th>Joy Rating</th></tr></thead>
        <tbody>
        <tr><td>Name1</td><th>Date1</th><td>Description1</td><td>Orating1</td><td>Jrating1</td></tr>
        <tr><td>Name2</td><th>Date2</th><td>Description2</td><td>Orating2</td><td>Jrating2</td></tr>
        <tr><td>Name3</td><th>Date3</th><td>Description3</td><td>Orating3</td><td>Jrating3</td></tr>
        </tbody>
    </table>
{% endblock body_content %}

