<html>
	<head>
    		<title>{{ title }}</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th><a href="{{ url_for('home') }}">jenkins</a></th>

					{% if not current_user.is_authenticated %}
					<th><a href="{{ url_for('register') }}">Register</a></th>
					<th><a href="{{ url_for('login') }}">Login</a></th>
					{% else: %}
						<th><a href="{{ url_for('activityadd') }}">Add</a></th>
						<th><a href="{{ url_for('activitydisplay') }}">Display</a></th>
						<th><a href="{{ url_for('activitymd') }}">Modify</a></th>
						<th><a href="{{ url_for('activitydelete') }}">Delete</a></th>
						<th><a href="{{ url_for('logout') }}">Logout</a></th>
					{% endif %}	

				</tr>
			</thead>
		</table>
		<p> {{ title }} </p>
		{% block body_content %}
		{% endblock body_content %}
	</body>
</html>

