{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <br>
            <table>
                <thead>
                    <tr>
                        <th>{{ form.firstName.label }}</th>
                        <th>{{ form.firstName }}</th>
                        {% if form.firstName.errors %}
                            <div class="error">
                                {% for error in form.firstName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </tr>
                    <br>
                    <br>
                    <br>
                    <tr>
                        <th>{{ form.lastName.label }}</th>
                        <th>{{ form.lastName }}</th>
                        {% if form.lastName.errors %}
                            <div class="error">
                                {% for error in form.lastName.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </tr>
                    <br>
                    <br>
                    <br>
                    <tr>
                        <th>{{ form.email.label }}</th>
                        <th>{{ form.email }}</th>
                        {% if form.email.errors %}
                            <div class="error">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </tr>
                </thead>
            </table>
            <br>
            <br>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th><div class='form_group'>{{ form.submit }}</div></th>
                        <th><div class='form_group'><a href={{ url_for('home') }}> Cancel</a></div></th>
                    </tr>
            </table>
        </form>
    </div>
{% endblock %}